<!DOCTYPE html>
<html lang="en" class="bg-gray-200">
<head>
  <meta charset="UTF-8">
  <title>Kopiya</title>
  <link href="/output.css" rel="stylesheet">
</head>
<body>
    <nav class="flex items-center justify-between flex-wrap bg-sky-800 p-6">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <span class="font-semibold text-xl tracking-tight">
                <a href="/">Kopiya</a>
            </span>
        </div>

        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
                <% if (locals.isAuthenticated) { %>
                    <a  href="/replikas" 
                        class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">Replikas</a>
                    <a  href="/logout" 
                        class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">Logout</a>
                <% } else { %>
                    <a  href="/login" 
                        class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">Login</a>
                <% } %>
            </div>
        </div>
    </nav>
    <div class="flex justify-center py-4">
            <div class="w-5/6 lg:w-3/4 bg-white p-4 rounded overflow-hidden shadow-lg">
                